<%- include('../layouts/header'); -%>
<form action="/admin/agregar" method="GET">
    <button class="btn btn-success btn-lg agregar mt-5"> Agregar comida</button>
</form>

<div class ="container cont-admin">
    <div class="card mb-4 p-3 card-color">
        <div class="card-body">
            <h1 class="card-title">Frutas</h2>
            <div class="row">
                <% for(var i = 0; i < comidas.length; i++){ %>
                <% if(comidas[i].categoria == 'frutas'){ %>
                <div class="col-md-3 mb-3">
                    <h4 style="text-align: center;">Imagen</h4>
                    <div>
                        <img src="/imagenes/<%= comidas[i].imagen %>" alt="">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <h4 style="text-align: center;">Nombre</h4>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].nombre %>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div>
                        <h4 style="text-align: center;">Cantidad</h4>
                    </div>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].cantidad %>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div>
                        <h4 style="text-align: center;">Precio/Kg</h4>
                    </div>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].precio %>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="abajo">
                        <a href="/admin/editar/<%= comidas[i]._id %>" class="btn btn-primary mr-1">Editar</a>
                        <a href="/admin/eliminar/<%= comidas[i]._id %>" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>
    
    <div class="card mb-4 p-3 card-color">
        <div class="card-body">
            <h1 class="card-title">Carnes</h2>
            <div class="row">
                <% for(var i = 0; i < comidas.length; i++){ %>
                <% if(comidas[i].categoria == 'carnes'){ %>
                <div class="col-md-3 mb-3">
                    <h4 style="text-align: center;">Imagen</h4>
                    <div>
                        <img src="/imagenes/<%= comidas[i].imagen %>" alt="">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <h4 style="text-align: center;">Nombre</h4>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].nombre %>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div>
                        <h4 style="text-align: center;">Cantidad</h4>
                    </div>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].cantidad %>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div>
                        <h4 style="text-align: center;">Precio/Kg</h4>
                    </div>
                    <div class="comida-info mt-3" style="text-align: center;">
                        <%= comidas[i].precio %>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="abajo">
                        <a href="/admin/editar/<%= comidas[i]._id %>" class="btn btn-primary mr-1">Editar</a>
                        <a href="/admin/eliminar/<%= comidas[i]._id %>" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>

</div>
<%- include('../layouts/footer'); -%>